@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:wght@400;700&display=swap');

@theme {
  --color-obsidian: #1D1D21;
  --color-stone: #9E9E9E;
  --color-diamond: #00BFFF;
  --color-grass: #4CFF00;
  --color-redstone: #FF2E2E;
  --color-gold: #FFD700;

  --font-pixel: "Press Start 2P", cursive;
  --font-mono: "Roboto Mono", monospace;

  --shadow-pixel: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}

:root {
  font-family: var(--font-mono);
  background-color: var(--color-obsidian);
  color: #ffffff;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-pixel);
}